@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
  font-family: 'Nunito',sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
}

section{
  padding: 2rem 9%;
}

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  z-index: 2;
}

.header .logo img{
  height: 6rem;
}

.header .navbar #close{
  display: none;
  position: absolute;
  top: 4rem;
  right: 2rem;
  cursor: pointer;
  font-size: 3rem;
  color: #fff;
}

.header .navbar a{
  font-size: 2rem;
  margin-right: 2rem;
  color: #fff;
}

.header .navbar a:hover{
  color: #d3ad7f;
}

.header #menu{
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: #fff;
}

.home{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom left, orange,white,green);
}

.home .content{
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.home .content .title{
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
}

.home .content .title span{
  text-transform: uppercase;
  color: #1ce329;
}

.home .content .description{
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #fff;
}

.home .content .btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: #2f79ee;
  cursor: pointer;
}

.home .content .btn:hover{
  letter-spacing: .2rem;
}

.home .image{
  flex: 1 1 40rem;
} 

.home .image img{
  width: 120%;
  height: 300%;
}


@media (max-width:991px){
  html{
    font-size: 55%;
  }

  .header{
    padding: 2rem;
  }

  section{
    padding: 2rem;
  }

}

@media (max-width:768px){

  .header #menu{
    display: inline-block;
  }

  .header .navbar{
    position: fixed;
    top: 0; right: -105%;
    width: 30rem;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(50px);
    transition: .5s;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 1200;
  }

  .header .navbar.active{
    right: 0;
  }

  .header .navbar #close{
    display: block;
  }

  .header .navbar a{
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }

  .home .content{
    padding-top: 9.5rem;
  }

  .home .image img{
    width: 368px;
  } 

  .home .content .title{
    font-size: 4rem;
  }

  .home .content .description{
    font-size: 1.6rem;
  }

}

@media (max-width:450px){
  html{
    font-size: 50%;
  }
}
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #3ea7ed;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(252, 252, 252, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




